.example {
    height: 400px;
    background-image: url(asbw.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

div.menu {
    font-size: 130%;
}

div.body {
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 140%;
}

div.menu a {
    white-space: pre;
    color: blue;
}

@media (min-width: 800px) {
    div.menu {
	font-size: 100%;
    }

    div.body {
	max-width: 700px;
    }
    
    h1 {
	font-size: 120%;
    }

    .example {
        background-image: url(piggies.jpg);
    }
}


