.example {
    height: 400px;
    background-image: url(asbw.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

div.menu {
    font-size: 150%;
}

div.menu a {
    white-space: pre;
    color: blue;
}

@media (min-width: 800px) {
    div.menu {
	font-size: 100%;
    }
    .example {
        background-image: url(piggies.jpg);
    }
}


